@media screen and (min-width: 480px) {
    body {
        background-color: lightgrey;
    }
}

body {
  background-image: url(../img/background.jpg);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    color: #090C15;
    padding-left: 1em;
}

.headline h3 {
  font-family:'Montserrat', sans-serif;
  font-size: 48px;
  color: #090C15;
  padding-left: 3em;
}

.headline {
  font-family:'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #090C15;
  padding-left: 3em;
}

.media-object {
  padding-left: 11em;
}

.adCopy {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #090C15;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Montserrat", "Raleway", sans-serif;
    font-size: 18px;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    width: 400px;
    height: 45px;
    font-size: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #6AABEC;
    -webkit-box-shadow: 0 0 8px #6AABEC;
    box-shadow: 0 0 8px #6AABEC;
    border: 1px solid #6AABEC;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
#submitButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 8em;
    border: none;
    color: #fff;
}

#submitButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.editPostButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 11em;
    border: none;
    color: #fff;
}

.editPostButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

#dateButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 3em;
    border: none;
    color: #fff;
    font-size: 24px;
}
#dateButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

#priceButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 2em;
    border: none;
    color: #fff;
    font-size: 24px;
}
#priceButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

#updatePostButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 5em;
    margin-top: 2em;
    border: none;
    color: #fff;
    font-size: 24px;
}
#updatePostButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

#deletePostButton {
    background: #498CE8;
    padding: 12px 15px 8px 15px;
    margin-left: 5em;
    margin-top: 1em;
    border: none;
    color: #fff;
    font-size: 24px;
}
#deletePostButton:hover {
    background: #0E0C0E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style-1 .required{
    color:red;
}
